*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
build/
node_modules/
lean/.lake/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
